# dependencies
node_modules/

# env / secrets
.env
apikeys/

# runtime data
data/

# builds
*.exe
dist/

# logs
npm-debug.log*
*.log

# editor files
.vscode/
.idea/

# system files
.DS_Store
Thumbs.db